body {
    background-color: beige;
}
.wrapper {

}
.weather {
    width: 35%;
    padding-bottom: 20px;
}
h1 {
    color: green;
    font-size: 60px;
    font-style: italic;
}
.weather {
    line-height: 40px;
    font-size: 30px;
    font-style: italic;
color: darkgreen;
}
